body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
#tasty_header {
  background-image: url(../assets/images/bg_1.jpg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#logo {
  font-size: 18px;
  font-weight: bolder;
  border: 1px solid white;
  padding: 4px 10px;
}
#tasty_header > div {
  background-color: rgba(0, 0, 0, 0.3);
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin: auto;
  padding-top: 40px;
}
nav ul {
  display: flex;
  column-gap: 50px;
}
nav li {
  list-style-type: none;
}
#tasty_header a {
  color: rgb(237, 237, 237);
  text-decoration: none;
}
header{
    text-align: center;
}
header h1 {
  color: white;
  font-size: 40px;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  margin-bottom: 2.5rem ;
  margin-top: 7rem;
  font-size: 70px
}
header a{
    border: 2px solid white;
    padding: 20px 25px ;
}
#book_the_table {
  background-color: rgb(255, 179, 0);
  width: 73%;
  margin: auto;
  padding: 40px 0px;
  margin-top: 4rem;
}
#book_the_table input , #book_the_table select{
  padding: 20px 20px;
  color: black;
  background-color: rgb(255, 179, 0);
  margin-right: 25px;
}
#book_the_table button{
  padding: 20px 15px;
  background-color: rgb(255, 179, 0);

}

